body, html {
  padding:          0;
  margin:           0;
  height:           100%;
  overflow:         hidden;
  
  background:       #000 url(../images/grid_m.png);
}

#world {
  position:         absolute;
}

.body {
  background-color: #2592E1;
  position:         absolute;
  z-index:          1;
 
         box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Opera 10.5, IE 9.0 */
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.5); /* FF3.5+ */
 -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5); /* Saf3.0+, Chrome */
  
}
/* head */
.body:first-child { 
  z-index:          2;
  background-color: #FF8215;
}



/*canvas, #howto {
  width:            1024px;
  height:           768px;
  position:         absolute;
  top:              50%;
  left:             50%;
}
canvas {
  margin:           -384px 0 0 -512px;
  background-color: #FFF;
  
          box-shadow: 0 0 5px #000; 
     -moz-box-shadow: 0 0 5px #000; 
  -webkit-box-shadow: 0 0 5px #000; 
}
#howto {
  margin:           -2384px 0 0 -502px;
  text-shadow:      0 2000px 0 #000;
  
  -webkit-transition: opacity 1s linear;
}
#howto.thanks {
  opacity:          0;
}*/